{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ yaftp_conn['username'] }}@{{ yaftp_conn['host'] }}:{{ yaftp_conn['port'] }} {% endblock %}</h1>
    <span class="badge badge-primary">local dir: {{ yaftp_conn['datadir'] }}</span>
    <hr>
    <form action="" method="post">
        <button name="dir" value=".." class="btn btn-primary">..</button>
    </form>
    <hr>
    {% for folder in folders %}
        <form action="" method="post">
            <button name="dir" value="{{ folder }}" class="btn btn-primary">{{ folder }}</button>
        </form>
        <hr>
    {% endfor %}
    {% for file in files %}
        <form action="" method="post">
            <button name="file" value="{{ file }}" class="btn btn-success">{{ file }}</button>
        </form>
        <hr>
    {% endfor %}
{% endblock %}

{% block dropdown %}
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Upload File to Current Dir
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for local_file in local_files %}
                    <form action="" method="post">
                        <button name="local_file" value="{{ local_file }}" class="dropdown-item btn btn-primary">{{ local_file }}</button>
                    </form>
                {% endfor %}
              </div>
            </div>
{% endblock %}